<div class="_modal modal-dark" id="addCoverModal">
  <div class="dialog">
    <div class="head jcc">
      <div class="title">Add cover image</div>
      <div class="close-modal">+</div>
    </div>
    <div class="body">
      <div class="auth _dark p-tb-4">
        <div class="auth-wrapper">
          <form action="" id="loginForm">
            <div class="title">Welcome back!</div>
            <div class="sub">Login to your Vibrer account</div>
            <div class="mb-3">
              <input type="file" id="upload" />
              <div id="croppie-container"></div>
              <button id="submit-crop">Upload Image</button>
            </div>

            <button class="btn btn-primary w-100 mt-4">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
