<div class="_modal modal-dark" id="contest1Video">
  <div class="dialog">
    <div class="head">
      <div class="title">Vibrer Singing Contest - <small>Chapter 1</small></div>
      <div class="close-modal">+</div>
    </div>
    <div class="body contest-info">
      <div class="video-container-169">
        <video
          id="my-video"
          class="video-js vjs-default-skin"
          controls
          data-setup='{"techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=-k9ZwELIC1k"}]}'
        ></video>
      </div>

      <button class="btn btn-primary mt-3 mb-2 close-modal">Close</button>
    </div>
  </div>
</div>
