<div class="_modal modal-dark" id="contest1Video">
  <div class="dialog">
    <div class="head">
      <div class="title"><%-__("vib_sc_cp1")%></div>
      <div class="close-modal">+</div>
    </div>
    <div class="body contest-info">
      <div class="video-container-169">
        <video
          controls
          class="video-js"
          preload="auto"
          width="640"
          height="264"
          data-setup="{}"
          poster="/public/images/contest1.jpg"
        >
          <source
            src="https://static.vibrer.app/mediavid/contest1promo1.mp4"
            type="video/mp4"
          />
          <source
            src="https://static.vibrer.app/mediavid/contest1promo1.mp4"
            type="video/webm"
          />
        </video>
      </div>

      <button class="btn btn-primary mt-3 mb-2 close-modal">
        <%-__("close")%>
      </button>
    </div>
  </div>
</div>
