<div class="_modal modal-dark" id="contest1tandc">
  <div class="dialog">
    <div class="head">
      <div class="title">Vibrer Singing Contest</div>
      <div class="close-modal">+</div>
    </div>
    <div class="body contest-info">
      <div class="banner">
        <img src="/public/images/contest1.jpg" alt="Image" />
      </div>

      <div class="title mb-1 mt-3">VIbrer Singin Contest by MOD</div>
      <div class="text mb-4">
        Join the stage and let your voice echo through the halls of Vibrer! It's
        time to ignite your passion for singing in the inaugural chapter of our
        Vibrer Vocal Challenge. Whether you're a seasoned vocalist or just love
        to sing in the shower, this is your moment to shine.
      </div>

      <div class="title mb-1">How it works?</div>

      <div class="text mb-2">
        Participating in the Vibrer Vocal Challenge is a breeze. Here's your
        simple roadmap to stardom:
      </div>

      <ol class="mb-4">
        <li>
          Create Your Account: Begin your journey by signing up on Vibrer. It
          takes just a few clicks to get started.
        </li>
        <li>
          Choose Your Contest: Navigate to the Vibrer Vocal Challenge: Chapter 1
          contest and click "Participate." It's your time to shine!
        </li>
        <li>
          Showcase Your Talent: Upload your mesmerizing music or vocal video.
          Pour your heart into your performance, and let your unique style
          shine.
        </li>
        <li>
          Captivate the Vibrer Audience: Your fellow Vibrer users become the
          judges! They'll watch, listen, and cast their votes for their favorite
          performances.
        </li>
        <li>
          Seize Stardom: When the contest concludes, the one with the most votes
          will be crowned the Vibrer Vocal Champion of Chapter
        </li>
      </ol>

      <div class="text mb-4">
        It's that simple! Vibrer provides the stage, and you provide the magic.
        Join now and let your voice be heard.
      </div>

      <div class="title">What's at Stake:</div>
      <div class="blurb-wrap">
        <div class="blurb">
          <div class="title ml-">🥇 First Prize:</div>
          <div class="text">
            A whopping $5000 in cold, hard cash. Certificate of winning, A gift
            hamper loaded with treasures
          </div>
        </div>
        <div class="blurb">
          <div class="title ml-">🥈 Second Prize:</div>
          <div class="text">
            $2000 in cash to make your dreams sparkle. Certificate of winning, A
            gift hamper brimming with delights
          </div>
        </div>
        <div class="blurb">
          <div class="title ml-">🥉 Third Prize:</div>
          <div class="text">
            $1000 in cash to celebrate your talents. Certificate of winning, A
            gift hamper filled with surprises
          </div>
        </div>
      </div>

      <div class="text mt-1 mb-1">But that's not all!</div>
      <div class="title mb-3">The Winners Unlock Exclusive Opportunities:</div>
      <ol class="mb-4">
        <li>Collaborate and create music projects with Vibrer.</li>
        <li>
          Get your talents showcased through our vibrant social media channels.
        </li>
        <li>Open doors to exciting music ventures and experiences.</li>
        <li>
          It's more than a contest; it's a gateway to a world of possibilities.
          Are you ready to claim your victory?
        </li>
      </ol>

      <div class="title mb-3">
        Vibrer Vocal Challenge - Terms and Conditions
      </div>
      <div class="text mb-3"><strong>1. Eligibility:</strong></div>
      <ol class="mb-4 olAlpha">
        <li>
          The Vibrer Singing Contest ("Contest") is open to participants
          worldwide.
        </li>
        <li>
          Participants must be at least 16 years old or the age of majority in
          their respective countries to enter the Contest.
        </li>
        <li>
          Employees of Vibrer and its affiliates, as well as their immediate
          family members, are not eligible to participate.
        </li>
      </ol>

      <div class="title mb-3">2. Contest Period:</div>
      <ol class="olAlpha mb-3">
        <li>
          The Contest will commence on [Start Date] and end on [End Date].
        </li>
      </ol>

      <div class="title mb-3">3. How to enter:</div>
      <ol class="olAlpha mb-3">
        <li>
          Participants must create an account on Vibrer (if they haven't
          already) to enter the Contest.
        </li>
        <li>
          Once registered, participants can upload their vocal video to the
          Vibrer Singing Contest platform during the Contest period. <br />
          Vocal videos must: <br />
          - Have a minimum duration of 2 minutes and a maximum duration of 4
          minutes. <br />
          - Be the original work of the participant and must not infringe upon
          any copyright or intellectual property rights.
        </li>
        <li>Participants are allowed to submit only one entry.</li>
        <li>
          Entries that are incomplete, exceed the specified duration, or do not
          adhere to the rules or specifications may be disqualified.
        </li>
      </ol>

      <div class="title mb-3">4. Voting:</div>
      <ol class="olAlpha mb-3">
        <li>
          Voting will be open to the Vibrer audience during the Contest period.
        </li>
        <li>
          Each registered user of Vibrer will be allowed to cast one vote per
          contest.
        </li>
        <li>
          The entry with the highest number of votes at the end of the Contest
          period will be declared the winner.
        </li>
      </ol>

      <div class="title mb-3">5. Prizes:</div>
      <ol class="olAlpha mb-3">
        <li>
          The Contest prizes are as follows: <br />
          - 1st Place: $5000 Cash and a Gift Hamper. <br />
          - 2nd Place: $2000 Cash and a Gift Hamper. <br />
          - 3rd Place: $1000 Cash and a Gift Hamper.
        </li>
        <li>
          Winners will also have the opportunity to collaborate with Vibrer on
          music projects, receive promotion through Vibrer's social media
          channels, and explore exciting music ventures.
        </li>
      </ol>

      <div class="title mb-3">6. Winner Notification:</div>
      <ol class="olAlpha mb-3">
        <li>
          Vibrer App: The names and profiles of the winners will be displayed on
          the Vibrer app.
        </li>
        <li>
          Social Media Channels: The winners will be featured on Vibrer's
          official social media channels.
        </li>
        <li>
          Email Notification: Winners will be notified via the email address
          associated with their Vibrer account.
        </li>
        <li>
          Winners must respond to the notification email within 4 days to claim
          their prizes.
        </li>
        <li>
          Failure to respond within the specified time period may result in
          disqualification and the selection of an alternate winner.
        </li>
      </ol>

      <div class="title mb-3"></div>
      <ol class="olAlpha mb-3">
        <li>
          Vibrer reserves the right to disqualify any participant who violates
          these terms and conditions or attempts to tamper with the Contest
          process.
        </li>
        <li>
          Vibrer reserves the right to modify, suspend, or terminate the Contest
          at any time without notice.
        </li>
        <li>
          By participating in the Contest, participants agree to allow Vibrer to
          use their name, likeness, and entry for promotional purposes.
        </li>
        <li>
          This Contest is subject to all applicable laws and regulations and is
          void where prohibited.
        </li>
        <li>
          By entering the Vibrer Singing Contest, participants agree to abide by
          these terms and conditions.
        </li>
      </ol>

      <button class="btn btn-primary mt-3 mb-2 close-modal">
        I understand
      </button>
    </div>
  </div>
</div>
