<div class="share_modal modal-dark" id="shareModal">
  <div class="dialog">
    <div class="head">
      <div class="title">Share this post!</div>
      <div class="close-modal">+</div>
    </div>
    <div class="body contest-info">
      <div class="shareWrapper">
        <div class="s_media">
          <button class="btn share-btn" onclick="shareOnWhatsapp('[POST_URL]')">
            <img src="/public/images/icons/whatsapp_share.svg" />
          </button>
          <button class="btn share-btn" onclick="shareOnFacebook('[POST_URL]')">
            <img src="/public/images/icons/facebook_share.svg" />
          </button>
          <button class="btn share-btn" onclick="shareOnTwitter('[POST_URL]')">
            <img src="/public/images/icons/x_share.svg" />
          </button>
        </div>
        <div class="shareUrl dfac mt-3" onclick="copyUrl('[POST_URL]')">
          <button class="btn btn-primary">Copy URL</button>
          <div class="urlHolder dfac">
            <span>[POST_URL]</span>
          </div>
          <div class="urlCopied dfac">
            Url copied
            <img src="/public/images/icons/check_blue.svg" alt="check" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
