<div class="_modal modal-dark" id="shareModal">
  <div class="dialog">
    <div class="head">
      <div class="title">Share this post!</div>
      <div class="close-modal">+</div>
    </div>
    <div class="body contest-info">
      <div class="shareWrapper">
        <button
          class="btn btn-whatsapp"
          data-url="https://api.whatsapp.com/send?text=[POST_URL]"
        >
          <img class="img-left" src="/public/images/icons/whatsapp.svg" /> Share
        </button>

        <button class="btn btn-primary copy-url-btn" data-url="[POST_URL]">
          Copy URL
        </button>
      </div>
    </div>
  </div>
</div>
