<footer class="<%= (path == '/') ? '' : 'dark-footer' %>">
  <div class="container layout">
    <div class="grid">
      <div class="col">
        <img
          class="logo"
          src="/public/images/vibrer_light_logo.svg"
          alt="Logo"
        />
        <div class="desc">
          Join Vibrer's vibrant community to explore, connect, and share your
          love for music. Unveil a world of melodies and connections.
        </div>
      </div>
      <div class="col">
        <div class="desc">
          Stay informed about Vibrer's upcoming launch by providing your
          details.
        </div>
        <button class="btn btn-primary" onclick="scrollToGNForm()">
          Subscribe to new letters
        </button>
      </div>
      <div class="col">
        <div class="social-icons">
          <a href="https://www.youtube.com/@vibrer-official" target="_blank">
            <img
              class="yti"
              src="/public/images/youtube.svg"
              alt="Youtube icon"
          /></a>
          <a href="https://www.instagram.com/vibrer_official/" target="_blank">
            <img src="/public/images/instagram.svg" alt="Instagram icon"
          /></a>
        </div>
        <div class="desc anc" onclick="toImprint()">Imprint</div>
        <div class="desc anc" onclick="toPrivacy()">Privacy policy</div>
        <div class="desc anc" onclick="toTerms()">Terms of use</div>
        <div class="desc anc" onclick="toCookies()">Cookie settings</div>
      </div>
    </div>

    <div class="bottom-creds">
      © 2024 All rights reserved | Vibrer Internet Content Provider L.L.C, UAE
    </div>
  </div>
</footer>

<div class="toTop">
  <button class="btn btn-primary">
    <img src="/public/images/up-arrow.svg" alt="Arrow up" />
  </button>
</div>
