<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  <%= title %> | Unveiling Vibrer: Your Gateway to a Musical Odyssey
</title>
<link
  rel="shortcut icon"
  href="/public/images/favicon.png"
  type="image/x-icon"
/>
<link rel="stylesheet" href="/public/style/theme-v01.css?v=1.5" />
