@import "./var";

#userInfo {
  .title {
    font-size: 1rem;
    color: $light;
  }
  .data {
    color: $white;
  }
}

.p_social_links {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  .link {
    position: relative;
    .title {
      display: none;
      position: absolute;
      top: -1.8rem;
      color: $white !important;
      padding: 0.25rem 0.45rem;
      background-color: $black;
      font-size: 0.75rem !important;
    }
    &:hover {
      .title {
        display: block;
      }
    }
  }
}

.p_gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

.p_gallery_data {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .item {
    width: 100px;
    height: 100px;
    position: relative;

    .remove {
      background-color: $primary;
      color: $white;
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(45deg);
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }
}

.tag_wrapper {
  .tag_list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 0.75rem;
    .tags {
      background-color: $primary;
      padding: 0.25rem 0.75rem;
      color: $white;
      font-size: 0.875rem;
      border-radius: 1rem;
      cursor: pointer;
    }
  }
}

#cover_song_input {
  display: none;
}

.file_input_wrapper {
  .label {
    background-color: $form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5rem;
  }

  .f-border {
    border: solid 1px #585858 !important;
  }
  .form-input {
    display: none !important;
  }

  .img_wrapper {
    width: 100%;
    height: auto !important;
    max-height: 250px;
    background-color: $form;
    border-radius: 0.25rem;
    position: relative;

    p {
      color: $primary;
      text-align: center !important;
      padding: 0.5rem 1rem;
    }

    .removeBanner {
      background-color: $primary;
      color: $white;
      font-size: 1.1rem;
      width: 20px;
      height: 20px;
      border-radius: 1rem;
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(45deg);
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 100%;
      max-height: 250px;
      object-fit: contain;
      border-radius: 0.25rem;
    }
  }
}

.whatsAppLink {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  color: $white;
  .icon {
    color: #34f199;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .text {
    font-size: 1rem;
  }
}
