/* dm-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/dm-sans-v14-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dm-sans-v14-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/dm-sans-v14-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/dm-sans-v14-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v30-latin-100.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-100.woff2") format("woff2"), url("../fonts/roboto-v30-latin-100.woff") format("woff"), url("../fonts/roboto-v30-latin-100.ttf") format("truetype"), url("../fonts/roboto-v30-latin-100.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff"), url("../fonts/roboto-v30-latin-300.ttf") format("truetype"), url("../fonts/roboto-v30-latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
#userInfo .title {
  font-size: 1rem;
  color: #8b8a8a;
}
#userInfo .data {
  color: #f2f2f2;
  font-weight: 300;
  line-height: 1.5;
}

.p_social_links {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.p_social_links .link {
  position: relative;
}
.p_social_links .link .title {
  display: none;
  position: absolute;
  top: -1.8rem;
  color: #fff !important;
  padding: 0.25rem 0.45rem;
  background-color: #080813;
  font-size: 0.75rem !important;
}
.p_social_links .link:hover .title {
  display: block;
}

.p_gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

.p_gallery_data {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.p_gallery_data .item {
  width: 100px;
  height: 100px;
  position: relative;
}
.p_gallery_data .item .remove {
  background-color: #fb6580;
  color: #fff;
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  cursor: pointer;
}
.p_gallery_data .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.tag_wrapper .tag_list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.75rem;
}
.tag_wrapper .tag_list .tags {
  background-color: #fb6580;
  padding: 0.25rem 0.75rem;
  color: #fff;
  font-size: 0.875rem;
  border-radius: 1rem;
  cursor: pointer;
}

#cover_song_input {
  display: none;
}

.file_input_wrapper .label {
  background-color: #2f2f4b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem;
}
.file_input_wrapper .f-border {
  border: solid 1px #585858 !important;
}
.file_input_wrapper .form-input {
  display: none !important;
}
.file_input_wrapper .img_wrapper {
  width: 100%;
  height: auto !important;
  max-height: 250px;
  background-color: #2f2f4b;
  border-radius: 0.25rem;
  position: relative;
}
.file_input_wrapper .img_wrapper p {
  color: #fb6580;
  text-align: center !important;
  padding: 0.5rem 1rem;
}
.file_input_wrapper .img_wrapper .removeBanner {
  background-color: #fb6580;
  color: #fff;
  font-size: 1.1rem;
  width: 20px;
  height: 20px;
  border-radius: 1rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  cursor: pointer;
}
.file_input_wrapper .img_wrapper img {
  width: 100%;
  height: 100%;
  max-height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.25rem;
}

.whatsAppLink {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}
.whatsAppLink .icon {
  color: #34f199;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.whatsAppLink .text {
  font-size: 1rem;
}

.shareWrapper {
  padding: 1rem 1rem;
}
.shareWrapper .s_media {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}
.shareWrapper .share-btn {
  background-color: transparent !important;
  border: none;
  padding: 0;
}
.shareWrapper .share-btn img {
  width: 35px;
}