@import "./var";

.audio-player {
  background-color: $dl;
  padding: 1rem;
  border-radius: 0.25rem;
  .audio-top {
    display: flex;
    justify-content: space-between;
  }
  .audio-body {
    width: calc(100% - 35px);
  }

  .duration-wrapper {
    margin-top: 0.25rem;
    display: flex;
    color: $white;
    align-content: center;
    justify-content: space-between;
    font-size: 0.7rem;
  }

  .progress-container {
    height: 4px;
    width: 100%;
    background-color: $white;
    border-radius: 0.25rem;
    margin-top: 0.75rem;
    .progress {
      height: 4px;
      border-radius: 0.25rem;
      background-color: $primary;
      width: max-content;
      max-width: 100%;
    }
  }

  .playPauseBtn {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;
    background: rgb(251, 101, 128);
    background: linear-gradient(
      70deg,
      rgba(251, 101, 128, 1) 0%,
      rgba(243, 35, 119, 1) 100%
    );

    &:hover {
      background: rgb(243, 35, 119);
      background: linear-gradient(
        70deg,
        rgba(243, 35, 119, 1) 0%,
        rgba(251, 101, 128, 1) 100%
      );
    }

    img {
      width: 20px;
      height: 14px;
    }
  }
}
