@import "./var";

html {
  scroll-behavior: smooth;
}
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $roboto;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  line-height: 1.4;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

#loader {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  img {
    width: 100px;
    height: 100px;
  }
}

.cookie-banner {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #353d64;
  color: #fff;
  border: solid 1px #424a75;
  border-radius: 0.5rem;
  padding: 1.4em 1.5rem 1.6rem;

  width: calc(100% - 2rem);
  max-width: 700px;
  z-index: 999999;
  p {
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.btn {
  border: 1px solid transparent;
  background-color: $white;
  color: $dark;
  font-size: 1rem;
  border-radius: 0.2rem;
  padding: 0.45rem 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41px;

  img {
    width: 20px;
  }
  .img-right {
    margin-left: 0.75rem;
  }
  .img-left {
    margin-right: 0.75rem;
    margin-left: -4px;
  }
}
.btn.btn-sm {
  font-size: 0.875rem;
  height: 37px;
}
.btn.btn-lg {
  font-size: 1.25rem;
  height: 50px;
  padding: 0.45rem 1.5rem;
}
.btn-primary {
  color: #fff;
  background: rgb(251, 101, 128);
  background: linear-gradient(
    70deg,
    rgba(251, 101, 128, 1) 0%,
    rgba(243, 35, 119, 1) 100%
  );

  &:hover {
    background: rgb(243, 35, 119);
    background: linear-gradient(
      70deg,
      rgba(243, 35, 119, 1) 0%,
      rgba(251, 101, 128, 1) 100%
    );
  }
}

.btn-success {
  background-color: $green;
  border-color: $green;
  color: #ffffff;
  &:hover {
    background-color: $success;
    border-color: $success;
  }
}

.btn-outlined {
  background-color: transparent !important;
  border: 1px solid $white !important;
  color: $white !important;
}

.btn-xs {
  height: auto;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.form-input {
  width: 100%;
  height: 45px;
  background: #2f2f4b 0% 0% no-repeat padding-box;
  border: 1px solid #7c7c9e;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  color: $white;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  &::placeholder {
    color: #a3a3a3;
    font-size: 1rem;
  }
  &:focus {
    outline: none;
    border-color: $primary;
  }
}

textarea.form-input {
  height: auto;
}

.layout {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
header.bg-dark {
  background-color: $dark;
  border-bottom: 1px solid #2c2e35;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  .logo {
    cursor: pointer;
    img {
      height: 45px;
      margin-top: 1px;
    }
  }

  .menu {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-left: 2.25rem;
        font-size: 1rem;
        a {
          color: $white;
          border-bottom: 2px solid transparent;
          transition: border-bottom 0.3s ease-in-out;
          &:hover {
            border-bottom-color: $white;
          }
        }
        a.active {
          border-bottom-color: $primary;
        }
      }
    }
  }

  .hcta {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .burger {
    display: none;
    .line {
      width: 35px;
      height: 2px;
      margin-bottom: 8px;
      background-color: $white;

      &:first-child {
        width: 20px;
      }
      &:last-child {
        margin-bottom: 0;
        width: 28px;
        float: right;
      }
    }
  }

  .menu-close {
    display: none;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $dark;
    z-index: 999;
    opacity: 0.6;
    display: none;
  }

  @include tablet {
    .menu {
      background-image: url("../images/astronaut.jpg");
      background-position: center;
      background-size: cover;
      position: fixed;
      top: 0;
      left: 0;
      width: 300px;
      height: 100vh;
      min-height: 100%;
      z-index: 999;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      ul {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 3rem;
        margin-left: 2.5rem;
        li {
          margin: 0;
          margin-bottom: 1.8rem;
          font-size: 1.2rem;
        }
      }
    }

    .menu.active {
      transform: translateX(0);
    }
    .menu-close {
      display: block;
      color: $white;
      position: absolute;
      top: 5px;
      right: 18px;
      font-size: 3.1rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
      font-weight: 100;
      transform: rotate(45deg);
      opacity: 0.7;
    }
    .menu-overlay {
      display: none;
      z-index: 998;
    }
    .burger {
      display: block;
    }
  }

  @include phone {
    .logo {
      order: 1;
    }
    .burger {
      order: 0;
    }
    .hcta {
      order: 2;
      .btn-outlined {
        display: none;
      }
    }
  }
}

.languageSwitcher {
  position: relative;
  z-index: 999999;
  .toggle {
    height: 30px;
    width: 30px;
    border-radius: 40px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .dropdown {
    position: absolute;
    right: 0;
    top: 65px;
    background-color: $dl;
    color: $light;
    min-width: 150px;
    padding: 0.65rem 0;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    pointer-events: none;
    .item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0.25rem 1rem;
      margin-bottom: 0.25rem;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }

      img {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-right: 0.35rem;
        object-fit: cover;
        object-position: center;
      }
    }
    .item.active {
      color: $white;
    }
  }

  .dropdown.active {
    top: 45px;
    opacity: 1;
    pointer-events: all;
  }
}

.intro {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("../images/new-4intro.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .content {
    color: $white;
    width: 100%;
    max-width: 720px;
    margin-left: 80px;
    margin-right: 80px;
    @include medium {
      margin-left: 20px;
      margin-right: 10px;
    }
    @include tablet {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .desc {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .cta {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @include phone {
    align-items: flex-start;
    padding-top: 140px;
    background-image: url("../images/introMobileOpt.jpg");
    .content {
      margin-left: 0;
      margin-right: 0;
    }

    .title {
      font-size: 1.9rem;
    }
    .desc {
      font-size: 1.2rem;
      text-shadow: -2px 2px $dark;
    }
  }
}

.heroHome {
  background-image: url("../images/heroBg1.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    content: "";
    background: #0f080854;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .layout {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 50px 0 0;
    z-index: 2;
    @include phone {
      flex-direction: column;
    }
  }
  .content {
    width: 50%;
    margin-bottom: 50px;
    margin-left: 50px;
    img {
      width: 200px;
      margin-bottom: 1rem;

      @include medium {
        width: 150px;
      }
    }
    .tup {
      text-transform: uppercase !important;
    }

    .title {
      font-size: 3rem;
      font-family: $dm;
      color: $white;
      font-weight: 700;
      line-height: 1.1;
      span {
        font-size: 4.5rem;
      }

      @include medium {
        span {
          font-size: 3rem;
        }
        font-size: 2.5rem;
      }

      @include phone {
        font-size: 2rem;
      }
    }
    .sub {
      font-size: 1.1rem;
      color: $white;
      line-height: 1.4;
      margin-top: 1.4rem;
    }

    .cta {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      .btn {
        font-size: 1.1rem;
        height: 50px;
      }
    }
  }
  .image {
    width: 50%;
    margin-bottom: -0.22rem;
    img {
      width: 100%;
      max-width: 480px;
    }
  }
  @include tablet {
    .content {
      margin-left: 0;
      padding: 0 50px;
      width: 100%;
      margin-bottom: 80px;
      .sub {
        font-size: 1rem;
      }
    }
    .image {
      display: none;
    }
  }
  @include phone {
    .content {
      padding: 0 20px;
      margin-bottom: 0px;
    }
    .image {
      display: block;
    }
  }
}

@mixin w1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.tcap {
  text-transform: capitalize !important;
}

.container {
  @include medium {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include tablet {
    margin-left: 0;
    margin-right: 0;
  }
  @include phone {
    padding-left: 0px;
    padding-right: 0px;
  }

  .title {
    font-size: 2.2rem;
    font-weight: 700;
    color: $black;

    @include phone {
      font-size: 1.8rem;
    }
  }

  .subtitle {
    font-size: 1.3rem;
    color: $dark;
    @include phone {
      font-size: 1.2rem;
    }
  }

  .desc {
    font-size: 1.1rem;
    color: $light;
    line-height: 1.6rem;
  }

  .v-wrapper {
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
    }
    .play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      z-index: 2;
      @include tablet {
        width: 70px;
      }
    }
    .title {
      position: absolute;
      bottom: 2rem;
      left: 2.5rem;
      font-size: 2.4rem;
      color: $white;
      z-index: 2;
      @include w1200 {
        left: 2rem;
        bottom: 1rem;
        font-size: 2rem;
      }
      @include tablet {
        font-size: 1.5rem;
      }
      @include phone {
        left: 1.5rem;
        right: 1.5rem;
        bottom: 0.75rem;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 5px;
      border-radius: 0 0 17px 17px;
      left: 0;
      right: 0;
      height: 40%; /* This will cover the bottom 40% of the .v-wrapper */
      background: transparent
        linear-gradient(
          180deg,
          rgba(159, 165, 197, 2%) 0%,
          rgb(47, 47, 75) 100%
        )
        0% 0% no-repeat padding-box; /* Using a semi-transparent black for the overlay */
      z-index: 1; /* This ensures the overlay is above the image but below the title */
    }
  }
}

.img-wrapper {
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .title {
    position: absolute;
    bottom: 2rem;
    left: 2.5rem;
    font-size: 2.5rem;
    color: $white;
    z-index: 2;

    @include w1200 {
      left: 2rem;
      bottom: 1rem;
      font-size: 2rem;
    }
    @include tablet {
      font-size: 1.5rem;
    }
    @include phone {
      font-size: 2.5rem;
      right: 2rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 5px;
    border-radius: 0 0 17px 17px;
    left: 0;
    right: 0;
    height: 40%; /* This will cover the bottom 40% of the .v-wrapper */
    background: transparent
      linear-gradient(180deg, rgba(159, 165, 197, 2%) 0%, rgb(47, 47, 75) 100%)
      0% 0% no-repeat padding-box; /* Using a semi-transparent black for the overlay */
    z-index: 1; /* This ensures the overlay is above the image but below the title */
  }
}

#sec2 {
  padding-top: 100px;
  padding-bottom: 100px;

  .grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
    align-items: end;

    @include phone {
      grid-template-columns: 1fr;
    }
  }

  .title {
    margin-bottom: 1rem;
    font-family: $dm;
  }
  .desc {
    margin-bottom: 2rem;
  }
  .toFeatures {
    color: $primary;
    cursor: pointer;
    font-weight: 500;
  }
}

#sect3 {
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: $dark;
  .title {
    color: $white;
    font-family: $dm;
    @include tablet {
      font-size: 2rem;
      bottom: 1.5rem;
    }
  }

  .subtitle {
    color: $white;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .desc {
    margin-top: 20px;
  }
  .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 2rem;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  .right {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .imgWrapper {
      width: 100%;
      position: relative;
      &:first-child {
        width: calc(60% - 0.5rem);
      }
      &:nth-last-child(2) {
        width: calc(40% - 0.5rem);
      }
    }
    .title {
      color: #fff;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.4rem;
      width: fit-content;
      @include phone {
        font-size: 1.2rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
}

#sec4 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $dark;

  .grid2 {
    color: #fff;
    background-color: #1e2958;
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto 3rem;
    .title,
    .mtitle {
      font-size: 2rem;
      font-weight: 700;
      text-align: end;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 0;
      font-family: $dm;
    }
    .mtitle {
      display: none;
    }
    @include phone {
      grid-template-columns: 1fr;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 1.5rem;
      .title {
        display: none;
      }
      .mtitle {
        display: block;
        text-align: start;
        font-size: 1.5rem;
      }
    }

    .card {
      background-color: rgba(250, 250, 250, 0.05);
      padding: 1rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      .icon {
        width: 45px;
        height: 35px;
        padding: 5px;
        background-color: rgba(243, 35, 119, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .sTitle {
        font-weight: 500;
      }
      @include phone {
        flex-direction: column;
        align-items: flex-start;

        .icon {
          margin-bottom: 0rem;
        }
        .sTitle {
          font-size: 0.875rem;
        }
      }
    }
  }

  .grid3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    img {
      width: 100%;
      max-width: 400px;
      margin-top: 2rem;
    }
  }
  .title {
    color: $white;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: $dm;
    @include phone {
      font-size: 2rem;
    }
  }
  .desc {
    font-size: 1rem;
    line-height: 1.6;
    color: $white;
    margin-top: 0.5rem;
  }

  .grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 3rem;
    @include phone {
      grid-template-columns: 1fr;
    }
    .card {
      display: flex;
      text-align: start;
      align-items: flex-start;
      width: 100%;
      @include phone {
        flex-direction: column;
        align-items: flex-start;
      }
      .title {
        font-size: 1.25rem;
        font-family: $dm;
        width: 100%;
      }
      .desc {
        width: 100%;
      }
      .icon {
        background-color: rgba(255, 255, 255, 0.15);
        width: 56px !important;
        height: 56px !important;
        border-radius: 1rem;
        margin-right: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include phone {
          margin-bottom: 1rem;
        }
        img {
          height: 30px;
          width: 25px;
        }
      }
      div {
        width: calc(100% - 70px);
        @include phone {
          width: 100%;
        }
      }
    }
  }
}

#gnform {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  background-image: url("../images/thecityofmusic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(3, 3, 41);
    bottom: 0;
    left: 0;
    opacity: 0.85;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
    max-width: 1000px;
    margin: 0 auto;
  }
  .title {
    margin-bottom: 0.75rem;
    color: $white;
  }
  .subtitle {
    margin-bottom: 2rem;
    color: $white;
  }

  .desc {
    font-size: 0.875rem;
    line-height: 1.4;
    max-width: 800px;
    margin-top: 0.5rem;
    color: $white;
    a {
      color: $primary;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
    .form-input,
    .btn {
      height: 50px;
      font-size: 1rem;
    }
    .btn {
      width: 100%;
    }
  }

  .btn-outlined {
    height: 50px;
    margin: 5rem auto 0;
  }
}

.dark-footer {
  background: transparent
    linear-gradient(180deg, rgba(24, 33, 75, 0.8705882353) 0%, #32395b 100%) 0%
    0% no-repeat padding-box;
}
#subForm {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;

  .container {
    position: relative;
    z-index: 2;
    max-width: 1000px;
  }
  .title {
    margin-bottom: 0.75rem;
    color: $white;
  }
  .subtitle {
    margin-bottom: 2rem;
    color: $white;
  }

  .desc {
    font-size: 0.875rem;
    line-height: 1.4;
    max-width: 800px;
    margin-top: 0.5rem;
    color: $white;
    a {
      color: $primary;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
    .form-input,
    .btn {
      height: 50px;
      font-size: 1rem;
    }
    .btn {
      width: 100%;
    }
  }

  .btn-outlined {
    height: 50px;
    margin: 5rem auto 0;
  }
}
#sec5 {
  padding-top: 100px;
  padding-bottom: 100px;

  .title {
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
  }
  img {
    height: 45px;
    margin-bottom: 1rem;
  }

  .grid2 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;

    @include tablet {
      grid-template-columns: 1fr;
      gap: 3rem;
    }

    @include phone {
      grid-template-columns: 1fr;
    }

    img.social-hub {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .desc {
      margin-bottom: 1.5rem;
      &:nth-last-child(1) {
        margin-top: 1.5rem;
        margin-bottom: 0;
      }
    }
    .desc.icon {
      display: flex;
      align-items: flex-start;
      margin-bottom: 0.75rem;
      img {
        height: 20px;
        margin-right: 0.75rem;
        position: relative;
        top: 0.18rem;
      }
    }
  }
}

#sec6 {
  padding-top: 0;

  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  .desc {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .walletimg {
    width: calc(100% + 2.4rem);
    object-fit: cover;
    margin-left: -1.2rem;
    margin-bottom: -20%;
  }
}

footer {
  padding-top: 120px;
  padding-bottom: 80px;
  background: transparent linear-gradient(180deg, #18214bde 0%, #080813 100%) 0%
    0% no-repeat padding-box;
  position: relative;
  z-index: 2;

  .container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include phone {
      grid-template-columns: 1fr;
    }
  }
  img.logo {
    height: 50px;
    margin-bottom: 1rem;
  }

  .desc {
    color: $white !important;
    margin-bottom: 1.5rem;
    line-height: 1.7 !important;
    font-size: 1rem !important;
  }

  .desc.anc {
    margin-top: 1rem !important;
    margin-bottom: 0;
    width: fit-content;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .social-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
    img {
      width: 30px;
    }
    .yti {
      width: 35px;
    }
  }
  .bottom-creds {
    font-size: 0.875rem;
    color: $light;
    margin-top: 3rem;
  }
}

.toTop {
  position: fixed;
  transform: translate(160%);
  transition: transform 0.2s ease-in-out;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
  opacity: 0.9;

  .btn {
    width: 40px;
    img {
      width: 15px;
    }
  }
}
.toTop.active {
  transform: translate(0);
}

.roadmap {
  padding: 100px 1.2rem 100px;
  background-image: url("../images/thecityofmusic.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2f2f4b;
    bottom: 0;
    left: 0;
    opacity: 0.85;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
    max-width: 1000px;
  }

  .title {
    color: $white;
    margin-bottom: 1rem;
  }
  .subtitle {
    color: $white;
    margin-bottom: 4rem;
  }

  .rm-item {
    background-color: rgba(45, 50, 79, 0.769);
    padding: 1rem 1rem 1.5rem;
    border-radius: 0.25rem;
    border: solid 1px #515170;
    max-width: 800px;
    .status {
      color: $white;
      margin-bottom: 0.5rem;
      font-size: 0.875rem;
      span {
        color: $white;
      }
    }
    .status.done {
      color: #03c86c;
    }
    .status.og {
      color: #f5c400;
    }
    .status.uc {
      color: #f32377;
    }
    .title {
      color: $white;
      font-size: 1.2rem;
      margin-bottom: 0.25rem;
    }
    .desc {
      font-size: 0.875rem;
      color: lighten($light, 25%);
    }

    ul {
      margin: 0;
      margin-left: 1rem;
      padding: 0;
    }
    .demi {
      list-style: decimal;
    }
  }
  .separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12.5px;
    max-width: 800px;

    .done {
      height: 25px;
    }
    img {
      height: 25px;
      width: 25px;
    }
    .line {
      width: 0.5px;
      height: 35px;
      background-color: #68688c;
    }
  }
}
iframe {
  width: 750px;
  height: 465px;
  @include phone {
    width: calc(100vw - 2.6rem);
    height: 200px;
  }
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
}
/* Style for the popup content */
#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  padding-bottom: 0;
  background: white;
  z-index: 2;
}
.mt-0 {
  margin-top: 0rem;
}
.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 0.75rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}
.mt-5 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.75rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ms-1 {
  margin-left: 0.5rem;
}

.ms-2 {
  margin-left: 0.75rem;
}

.ms-3 {
  margin-left: 1rem;
}

.ms-4 {
  margin-left: 1.5rem;
}

.ms-5 {
  margin-left: 3rem;
}

.me-1 {
  margin-right: 0.5rem;
}

.me-2 {
  margin-right: 0.75rem;
}

.me-3 {
  margin-right: 1rem;
}

.me-4 {
  margin-right: 1.5rem;
}

.me-5 {
  margin-right: 3rem;
}
.demi {
  list-style: decimal;
}

@media screen and (min-width: 768px) {
  .p-tb-4 {
    padding: 1.5rem;
  }
}

.w-100 {
  width: 100% !important;
}

.general {
  padding-top: 70px;
  padding-bottom: 100px;
  color: darken($light, 10%);
  line-height: 1.5;
  .container {
    @include phone {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }
  .title {
    font-size: 1.4rem;
  }
  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: 600 !important;
  }
  strong {
    font-weight: 600;
    color: $dark;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  .title,
  h6 {
    color: $dark;
    margin-bottom: 0.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  p {
    color: $light;
  }
  ul {
    margin-left: 1rem;
    color: $light;
  }
}

.success-pop {
  position: fixed;
  top: 30px;
  z-index: 999999;
  right: 20px;
  margin-left: 20px;
  max-width: 400px;
  background-color: $white;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  display: none;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .success-pop-close {
    transform: rotate(45deg);
    font-size: 2rem;
    position: absolute;
    top: -18px;
    right: -10px;
    cursor: pointer;
  }
  .success-pop-title {
    color: #06946a;
    font-weight: 500;
  }
  .text {
    font-size: 1.1rem;
    color: $dark;
  }
}
.form-alert {
  position: relative;
  color: $white;
  border: solid 1px transparent;
  padding: 0.25rem 0.5rem;
  background: transparent;
  border-radius: 0.2rem;
  width: fit-content;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  @include tablet {
    margin-bottom: -0.5rem;
  }
}

.form-alert.error {
  color: #fb6580;
  border: solid 1px #fb6580;
  padding-left: 1.5rem;
  background-color: $dark;

  &::after {
    content: url("../images/info-err.svg");
    position: absolute;
    top: 10px;
    left: 12px;
    transform: translateX(-50%);
    margin-top: -0.25rem;
  }
}

.w200 {
  min-width: 200px;
}

.success-message {
  background-color: #1f2937;
  color: #31c48d;
  padding: 1rem 1.2rem;
  border-radius: 0.35rem;
  width: fit-content;
  line-height: 1.5;
  display: none;
  @include phone {
    padding: 0.5rem 0.75rem;
  }
}

.form-success {
  background-color: #1f2937;
  color: #31c48d;
  padding: 1rem 1.2rem;
  border-radius: 0.35rem;
  width: fit-content;
  line-height: 1.5;
  @include phone {
    padding: 0.5rem 0.75rem;
  }
}
/* Hide the default checkbox */
.custom-checkbox {
  display: none;
}

/* Create a custom checkbox */
.custom-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ccc;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  vertical-align: middle;
}

/* Add a checkmark icon */
.custom-label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  display: none;
}

/* Style the custom checkbox when the default checkbox is checked */
.custom-checkbox:checked + .custom-label {
  background: #007bff;
}

/* Show the checkmark icon when the default checkbox is checked */
.custom-checkbox:checked + .custom-label::after {
  display: block;
}

/* Add some spacing between the checkbox and the text */
.checkbox-container .text {
  margin-left: 8px;
  vertical-align: middle;
}

.bg-dark {
  background-color: $dark;
}

.hinm {
  @include phone {
    display: none;
  }
}
.hinb {
  display: none;
  @include phone {
    display: block;
  }
}

.video-container-169 {
  position: relative;
  width: 100%;
  padding-top: 56.25%;

  .video-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.email-verified {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  color: $white;
  text-align: center;
  .cont {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .title {
    font-size: 1.8rem;
    color: $green;
    font-family: $dm;
    font-weight: 600;
    margin: 0.725rem 0 0.25rem;
  }

  .sub {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .desc {
    margin-bottom: 1.5rem;
    color: $light;
  }
  @include phone {
    .title {
      font-size: 1.5rem;
    }
    .sub {
      font-size: 1.2rem;
    }
    .desc {
      font-size: 1rem;
    }
  }

  img {
    height: 50px;
  }
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 47, 75, 0.324);
    z-index: 0;
  }
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  .title {
    font-size: 18vw;
    font-weight: 600;
    color: $white;
    line-height: 1;
    @include phone {
      font-size: 25vw;
    }
  }
  .sub {
    font-size: 2rem;
    color: $white;
    font-weight: 600;
    margin-bottom: 1rem;
    @include phone {
      font-size: 1.5rem;
    }
  }
}
.linkBlue {
  color: #007bff;
}

.reg-success-section {
  background-image: url("../images/bg-success.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-color: $dl;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 1rem 40px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 60, 0.575);
    z-index: 0;
  }

  .wrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $white;
    position: relative;
    z-index: 1;
  }
  .logo img {
    height: 40px;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 1.7rem;
    font-weight: 600;
    color: $green;
  }

  .desc {
    margin: 1rem 0;
  }
  .highlight-msg {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .divOr {
    font-weight: 300;
    margin: 0.7rem 0;
  }
}

.mw600 {
  max-width: 600px;
}
.languageNotice {
  background-color: #ff000033;
  border-radius: 0.25rem;
  border: solid 1px #8f1f1f;
  color: #ff8787;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 300;
  width: fit-content;
}

.languageNotice.light {
  background-color: rgb(255, 80, 80);
  color: $white;
  border-color: rgb(245, 63, 63);
}
