<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="Join Vibrer's prelaunch and be the first to experience a revolutionary music platform. Connect, discover, and engage with artists and music enthusiasts worldwide."
    />
    <meta
      name="keywords"
      content="music platform, prelaunch, music community, music discovery, artist connection, music enthusiasts"
    />
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="./public/style/contests.css" />
  </head>

  <body>
    <!-- Loader -->
    <%- include('partials/loader'); %>
    <!-- Header -->
    <%- include('partials/header'); %>

    <main>
      <section class="contests bg-dark">
        <div class="layout">
          <div class="title">Active contests (1)</div>

          <div class="contests-wrapper" onclick="toContest()">
            <div class="contest">
              <div class="status active">Active</div>
              <img
                class="hinm"
                src="/public/images/contest1.jpg"
                alt="images"
              />
              <img
                class="hinb"
                src="/public/images/contest1Mobile.jpg"
                alt="images"
              />
            </div>
          </div>

          <div class="title" style="margin-top: 60px">
            Upcoming contests (4)
          </div>

          <div class="contests-wrapper">
            <div class="contest">
              <div class="status upcoming">Upcoming</div>
              <img
                class="hinm"
                src="/public/images/upcoming_contests/danceContest.jpg"
                alt="images"
              />
              <img class="hinb"
              src="/public/images/upcoming_contests/danceContestMobile.jpg""
              alt="images" />
            </div>
            <div class="contest">
              <div class="status upcoming">Upcoming</div>
              <img
                class="hinm"
                src="/public/images/upcoming_contests/rapContest.jpg"
                alt="images"
              />
              <img class="hinb"
              src="/public/images/upcoming_contests/rapContestMobile.jpg""
              alt="images" />
            </div>
            <div class="contest">
              <div class="status upcoming">Upcoming</div>
              <img
                class="hinm"
                src="/public/images/upcoming_contests/djContest.jpg"
                alt="images"
              />
              <img class="hinb"
              src="/public/images/upcoming_contests/djContestMobile.jpg""
              alt="images" />
            </div>
            <div class="contest">
              <div class="status upcoming">Upcoming</div>
              <img
                class="hinm"
                src="/public/images/upcoming_contests/singer-songwriter-contest.jpg"
                alt="images"
              />
              <img class="hinb"
              src="/public/images/upcoming_contests/singer-songwriter-contestMobile.jpg""
              alt="images" />
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- footer -->
    <%- include('partials/footer'); %>

    <div class="success-pop">
      <div class="header">
        <div class="success-pop-title">Thank you!</div>
        <div class="success-pop-close">+</div>
      </div>
      <div class="success-pop-desc">
        You have been added to our mailing list.
      </div>
    </div>
    <!-- javascript -->
    <script src="/public/js/cookieBanner.js"></script>
    <script src="/public/js/theme-v01node.js"></script>
    <script>
      function toContest() {
        window.location.href = "/contest";
      }
    </script>
  </body>
</html>
