<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Email has been verified successfully</title>
    <meta
      name="description"
      content="Explore Vibrer's, outlining our journey from concept to launch. Join us on this exciting adventure as we unveil innovative features, enrich the music experience, and bring artists and fans closer than ever."
    />
    <meta
      name="keywords"
      content="Vibrer roadmap, music platform roadmap, music innovation, feature unveiling, artist-fan connection"
    />

    <%- include('partials/head'); %>
  </head>
  <body class="bg-dark">
    <!-- Loader -->
    <%- include('partials/loader'); %>

    <main>
      <section class="email-verified">
        <div class="cont">
          <img src="/public/images/icons/emailVerified.svg" alt="Verified" />
          <div class="title">Email Verified Successfully</div>
          <div class="sub">Thank you for verifying your email address.</div>
          <div class="desc">
            If you are not automatically redirected to the login page within
            <span id="countdown">5</span> seconds, please click the login button
            below to access your account.
          </div>

          <button class="btn btn-primary" onclick="toLogin()">Login</button>
        </div>
      </section>
    </main>

    <!-- javascript -->
    <script src="/public/js/theme-v01node.js?v=2.0"></script>
    <script src="/public/js/forms.js?v=2.0"></script>

    <script>
      let timeLeft = 5;
      const countdownElement = document.getElementById("countdown");

      const countdownTimer = setInterval(function () {
        timeLeft--;
        countdownElement.textContent = timeLeft;

        if (timeLeft <= 0) {
          clearInterval(countdownTimer);
          window.location.href = "#"; // Replace with your actual login page URL
        }
      }, 1000);
    </script>
  </body>
</html>
