<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Email has been verified successfully</title>
    <meta
      name="description"
      content="Explore Vibrer's, outlining our journey from concept to launch. Join us on this exciting adventure as we unveil innovative features, enrich the music experience, and bring artists and fans closer than ever."
    />
    <meta
      name="keywords"
      content="Vibrer roadmap, music platform roadmap, music innovation, feature unveiling, artist-fan connection"
    />

    <%- include('partials/head'); %>
  </head>
  <body class="bg-dark">
    <!-- Loader -->
    <%- include('partials/loader'); %>

    <main></main>

    <!-- javascript -->
    <script src="/public/js/theme-v01node.js"></script>
    <script src="/public/js/forms.js"></script>
  </body>
</html>
