<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="Join Vibrer's prelaunch and be the first to experience a revolutionary music platform. Connect, discover, and engage with artists and music enthusiasts worldwide."
    />
    <meta
      name="keywords"
      content="music platform, prelaunch, music community, music discovery, artist connection, music enthusiasts"
    />
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="/public/style/app.css" />
  </head>

  <body>
    <!-- Loader -->
    <%- include('partials/loader'); %>
    <main>
      <section class="auth auth-pages" id="forgot-password">
        <div class="auth-container">
          <img class="bg-img" src="/public/images/auth-pass.jpg" alt="Image" />
          <div class="overlay"></div>
          <div class="left-col">
            <div class="title">
              Vibrer is your one-stop destination for all things music, So what
              are you waiting for?
            </div>
          </div>
          <div class="auth-col">
            <div class="form-wrapper">
              <img
                class="logo"
                src="/public/images/vibrer_light_logo.svg"
                alt="Logo"
              />
              <div class="title">Forgot password?</div>
              <div class="sub">
                To reset your password, please enter your registered email
                address. We'll send a link to that email where you can reset
                your password securely.
              </div>
              <div class="success-message mb-3">
                We've just sent a reset link to your registered email address at
                [your@email.com]. Kindly check your inbox and follow the
                instructions to securely reset your password. If you don't find
                the email in your inbox, please take a moment to look in your
                spam folder as well.
              </div>
              <form
                class="w-100"
                action="javascript:void(0)"
                id="forgotPasswordForm"
                method="POST"
                autocomplete="off"
              >
                <div class="mb-3">
                  <input
                    class="form-input"
                    type="email"
                    placeholder="Email address"
                    name="email"
                    id="forgot-email"
                    required
                    autocomplete="off"
                  />
                </div>
                <div class="error-message mt-3 d-none"></div>
                <div class="success-message mt-3 d-none"></div>
                <button
                  class="btn btn-primary w-100 mt-4 submitBtn"
                  type="submit"
                >
                  Send Email
                </button>
              </form>

              <div class="mt-4 dfac">
                <a class="link-primary dfac ms-1" href="/login">
                  <img
                    src="./public/images/icons/arrow-left-long-primary.svg"
                    alt="icon"
                  />
                  Go back to login
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- javascript -->
    <script src="/public/js/cookieBanner.js"></script>
    <script src="/public/js/theme-v01node.js"></script>
    <script src="/public/js/authForm.js"></script>
    <script src="/public/js/config.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("forgotPasswordForm");
        const btn = document.querySelector(".submitBtn");
        const successPop = document.querySelector(".success-message");
        const errorPop = document.querySelector(".error-message");

        form.setAttribute("novalidate", "");
        form.addEventListener("submit", function (e) {
          e.preventDefault();

          // Change button text to "Sending..."
          btn.textContent = "Loading...";

          // Implement the timeout function
          setTimeout(async () => {
            let isValid = true;
            let customErrors = {};

            const formData = new FormData(form);
            const formDataJSON = Object.fromEntries(formData.entries());

            for (const key in formDataJSON) {
              formDataJSON[key] = formDataJSON[key].trim();
            }

            const { email } = formDataJSON;

            if (
              !email ||
              !/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(email)
            ) {
              isValid = false;
              customErrors.email = !email
                ? "Email is required"
                : "Please enter a valid email";
            }

            const prevAlerts = document.querySelectorAll(".form-alert");
            prevAlerts.forEach((alert) => alert.remove());

            if (isValid) {
              const url = `${API_URL}user-artist/forgot-password`;
              try {
                const response = await fetch(url, {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(formDataJSON),
                });
                const responseData = await response.json();
                if (response.status === 201 || response.status === 200) {
                  if (responseData.status === 1) {
                    successPop.style.display = "block";
                    successPop.innerHTML = responseData.message;
                    setTimeout(() => {
                      successPop.style.display = "none";
                    }, 5000);

                    form.reset();
                  } else {
                    errorPop.style.display = "block";
                    errorPop.innerHTML = responseData.message;
                    setTimeout(() => {
                      errorPop.style.display = "none";
                    }, 5000);
                  }
                } else {
                  errorPop.style.display = "block";
                  errorPop.innerHTML = responseData.message;
                  setTimeout(() => {
                    errorPop.style.display = "none";
                  }, 5000);
                }
              } catch (err) {
                console.error("An error occurred", err);
              }
            } else {
              for (const key in customErrors) {
                const inputElement = form.querySelector(`[name="${key}"]`);
                const alertDiv = document.createElement("div");
                alertDiv.className = "form-alert error";
                alertDiv.textContent = customErrors[key];
                inputElement.parentNode.insertBefore(
                  alertDiv,
                  inputElement.nextSibling
                );
              }
            }

            // Reset the button text
            btn.textContent = "Send Email";
          }, 1000); // 1-second delay
        });
      });
    </script>
  </body>
</html>
