<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
    <meta
      name="description"
      content="Explore Vibrer's roadmap, outlining our journey from concept to launch. Join us on this exciting adventure as we unveil innovative features, enrich the music experience, and bring artists and fans closer than ever."
    />
    <meta
      name="keywords"
      content="Vibrer roadmap, music platform roadmap, music innovation, feature unveiling, artist-fan connection"
    />
  </head>
  <body>
    <!-- loader -->
    <%- include('partials/loader'); %>
    <!-- header -->
    <%- include('partials/header'); %>

    <main>
      <section class="general">
        <div class="container layout">
          <div class="title">Imprint for Vibrer Social Media Platform</div>

          <strong>Service Provider:</strong> VIBRER INTERNET CONTENT PROVIDER
          L.L.C. <br />
          Type of Company: Limited Liability Company (L.L.C.) <br />
          Business Address: <br />
          Unit No: (18-25, #18 01), 18TH Floor, Ontario Tower,<br />
          Business Bay, Dubai, United Arab Emirates<br />
          <strong>Dubai Chamber Professional Licence No.:</strong> 1253605<br />
          <strong>Contact Information:</strong> Email: info [at] vibrer.com<br />
          <br />
          <strong>Representative:</strong> Mr. Abdul Waseem Mohammed <br />
          <br />
          <strong> Platform Overview:</strong> Vibrer is a dynamic social media
          platform that offers users an engaging and creative space to share
          short videos and interact with a global community. Our platform is
          designed to inspire creativity and bring people together through
          shared interests and expressions. <br /><br />
          <strong>Disclaimer:</strong> Vibrer does not guarantee the accuracy,
          completeness, or usefulness of any information on the platform and
          expressly disclaims liability for errors or omissions in this
          information. Users are responsible for their content, and Vibrer is
          not liable for any user- generated content. <br /><br />
          <strong>Copyright and Intellectual Property:</strong> The Vibrer
          platform and its original content, features, and functionality are and
          will remain the exclusive property of VIBRER INTERNET CONTENT PROVIDER
          L.L.C. and its licensors. The platform is protected by copyright,
          trademark, and other laws of the United Arab Emirates and foreign
          countries. <br /><br />
          <strong>User Content and Conduct:</strong> Users are responsible for
          their use of the platform, including all content they upload. Vibrer
          reserves the right to remove any content that violates our guidelines
          or policies. <br /><br />
          <strong>Data Protection and Privacy:</strong> Vibrer is committed to
          protecting the privacy and security of its users. For detailed
          information, please refer to our
          <a class="linkBlue" href="https://www.vibrer.app/privacy"
            >Vibrer's Privacy policy: Charting a Musical Journey]
            https://www.vibrer.app/privacy
          </a>
          . <br /><br />
          <strong>Changes to This Imprint:</strong> Vibrer reserves the right to
          modify these terms at any time. The most current version of the terms
          will govern our relationship with you and will be available on the
          platform.
        </div>
      </section>
    </main>

    <%- include('partials/footer'); %>

    <!-- javascript -->
    <script src="/public/js/theme-v01node.js"></script>
  </body>
</html>
