<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="Join Vibrer's prelaunch and be the first to experience a revolutionary music platform. Connect, discover, and engage with artists and music enthusiasts worldwide."
    />
    <meta
      name="keywords"
      content="music platform, prelaunch, music community, music discovery, artist connection, music enthusiasts"
    />
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="/public/style/app.css?v=2.0" />
  </head>

  <body>
    <!-- Loader -->
    <%- include('partials/loader'); %>
    <main>
      <section class="auth auth-pages" id="login">
        <div class="auth-container">
          <img
            class="bg-img"
            src="/public/images/auth-register.jpg"
            alt="Image"
          />
          <div class="overlay"></div>
          <div class="left-col">
            <div class="title">
              Vibrer has everything you need to take your love for music to the
              next level.
            </div>
          </div>
          <div class="auth-col">
            <div class="form-wrapper">
              <img
                class="logo"
                src="/public/images/vibrer_light_logo.svg"
                alt="Logo"
              />
              <div class="title">Welcome back!</div>
              <div class="sub">Login to your account.</div>
              <form
                action="javascript:void(0)"
                id="loginForm"
                method="POST"
                autocomplete="off"
                class="w-100"
              >
                <div class="mb-3">
                  <input
                    class="form-input"
                    type="email"
                    placeholder="Email address"
                    name="email"
                    id="loginEmail"
                  />
                </div>
                <div class="mb-3 passInputDiv">
                  <input
                    class="form-input"
                    type="password"
                    placeholder="Password"
                    name="password"
                    id="loginPassword"
                  />
                  <div class="passInput">
                    <img src="/public/images/icons/visibility.svg" alt="Icon" />
                  </div>
                </div>
                <div class="link ta-end" onclick="toForgotPass()">
                  Forgot password
                </div>
                <div class="error-message mt-3 d-none"></div>
                <button
                  class="btn btn-primary w-100 mt-4 submitBtn"
                  type="submit"
                >
                  Login
                </button>
              </form>

              <div class="text-white mt-4 dfac">
                Don't have an account?
                <a class="link-primary dfac ms-1" href="/register"
                  >Create new
                  <img
                    src="/public/images/icons/arrow-right-long-primary.svg"
                    alt="icon"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- javascript -->
    <script src="/public/js/cookieBanner.js?v=2.0"></script>
    <script src="/public/js/theme-v01node.js?v=2.0"></script>
    <script src="/public/js/authForm.js?v=2.0"></script>
    <script src="/public/js/config.js?v=2.0"></script>
    <script>
      function toForgotPass() {
        window.location.href = "/forgot-password";
      }
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("loginForm");
        const btn = document.querySelector(".submitBtn");
        const successPop = document.querySelector(".success-message");
        const errorPop = document.querySelector(".error-message");

        form.setAttribute("novalidate", "");
        form.addEventListener("submit", function (e) {
          e.preventDefault();

          // Change button text to "Sending..."
          btn.textContent = "Loading...";

          // Implement the timeout function
          setTimeout(async () => {
            let isValid = true;
            let customErrors = {};

            const formData = new FormData(form);
            const formDataJSON = Object.fromEntries(formData.entries());

            for (const key in formDataJSON) {
              formDataJSON[key] = formDataJSON[key].trim();
            }

            const { email, password } = formDataJSON;

            if (
              !email ||
              !/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(email)
            ) {
              isValid = false;
              customErrors.email = !email
                ? "Email is required"
                : "Please enter a valid email";
            }
            if (!password) {
              isValid = false;
              customErrors.password = "Password is required.";
            }

            const prevAlerts = document.querySelectorAll(".form-alert");
            prevAlerts.forEach((alert) => alert.remove());

            if (isValid) {
              const url = `${API_URL}loginUser`;
              try {
                const response = await fetch(url, {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(formDataJSON),
                });
                const responseData = await response.json();
                if (response.status === 201 || response.status === 200) {
                  if (responseData.status === 1) {
                    const loader = document.getElementById("loader");
                    loader.style.display = "flex";
                    localStorage.setItem(
                      "appUserToken",
                      responseData.result.token
                    );
                    await fetch("/store-token-in-session", {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify({
                        token: responseData.result.token,
                      }),
                    });
                    window.location.href = "/new-profile";
                    form.reset();
                  } else {
                    errorPop.style.display = "block";
                    errorPop.innerHTML = responseData.message;
                    setTimeout(() => {
                      errorPop.style.display = "none";
                    }, 5000);
                  }
                } else {
                  errorPop.style.display = "block";
                  errorPop.innerHTML = responseData.message;
                  setTimeout(() => {
                    errorPop.style.display = "none";
                  }, 5000);
                }
              } catch (err) {
                console.error("An error occurred", err);
              }
            } else {
              for (const key in customErrors) {
                const inputElement = form.querySelector(`[name="${key}"]`);
                const alertDiv = document.createElement("div");
                alertDiv.className = "form-alert error";
                alertDiv.textContent = customErrors[key];
                inputElement.parentNode.insertBefore(
                  alertDiv,
                  inputElement.nextSibling
                );
              }
            }

            // Reset the button text
            btn.textContent = "Login";
          }, 1000); // 1-second delay
        });
      });
    </script>
  </body>
</html>
