<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
    <meta
      name="description"
      content="Explore Vibrer's roadmap, outlining our journey from concept to launch. Join us on this exciting adventure as we unveil innovative features, enrich the music experience, and bring artists and fans closer than ever."
    />
    <meta
      name="keywords"
      content="Vibrer roadmap, music platform roadmap, music innovation, feature unveiling, artist-fan connection"
    />
  </head>
  <body>
    <!-- loader -->
    <%- include('partials/loader'); %>
    <!-- header -->
    <%- include('partials/header'); %>

    <main>
      <section class="general">
        <div class="container layout">
          <div class="title">
            1. Data protection VIBRER MUSIC streaming at a glance
          </div>

          Privacy Policy of Vibrer Last Updated: Janaury 09, 2024 Introduction
          Vibrer ("we," "us," or "our") is committed to safeguarding your
          privacy. This Privacy Policy outlines the types of information we
          collect, how we use it, and the measures we take to protect it. This
          policy applies to our website, mobile applications, and associated
          services (collectively, the "Services"). For inquiries or concerns,
          please contact us at "info [at] vibrer.app". <br /><br />
          <div class="subtitle">Data collection on our website:</div>
          <strong>
            Who is responsible for data collection on this website?</strong
          >
          <br />
          Data processing on this website is carried out by the website
          operator, Vibrer. You can find their contact details in the imprint of
          this website.
          <br />
          <br />
          <div class="subtitle">Personal Identification Information (PII)</div>
          <strong> How do we collect your data?</strong>
          <br />
          On the one hand, your data is collected when you provide it to us.
          This can be, for example, data act that you enter into our
          contact/booking form. Other data is automatically collected by our IT
          systems when you visit the website. This is what it is about is
          primarily technical data (e.g. internet browser, operating system or
          time of page access). The This data is collected automatically as soon
          as you enter our website. <br /><br />
          <strong>Name:</strong> Your first and last name as provided during
          application or subscription.
          <br />
          <strong>Email Address:</strong> Used for correspondence and
          notifications. <br />
          <strong>Phone Number:</strong> Collected when you provide it for
          communication. <br />
          <strong>Country & City:</strong> Collected as part of your application
          or when you sign up for location-specific notifications. <br /><br />
          <div class="subtitle">Non-Personal Information</div>
          <strong> IP Address:</strong> Collected automatically to determine
          your location for data analytics. <br />
          <strong> User Agent:</strong>
          Information about your browser, device, and operating <br />
          <strong> Usage Metrics:</strong> Including but not limited to page
          views, click-through rates, and time spent on our Services.
          <br /><br />

          <div class="subtitle">What do we use your data for?</div>
          Some of the data is collected to ensure that the website is provided
          error-free. Other data can be used for Analysis of your user behavior
          or to process registrations and to evaluate our programs be used. What
          rights do you have regarding your data? You have the right to
          information about the origin, recipient and purpose of your data at
          any time and free of charge to receive stored personal data. You also
          have the right to request correction, to request blocking or deletion
          of this data. This and other questions on the topic Data protection
          You can contact us at any time at the address given in the legal
          notice. She also have the right to lodge a complaint with the relevant
          supervisory authority.
          <br /><br />
          <strong>Communication:</strong> To provide you with newsletters,
          notifications, and updates. <br />
          <strong>Applicant Screening:</strong> To assess your suitability for
          projects you’ve applied for. <br />
          <strong>Personalization:</strong> To tailor content based on your
          preferences and engagement. <br />
          <strong>Marketing and Promotions:</strong> To send you promotional
          materials, subject to your opt-in. <br />
          <strong>Legal Obligations:</strong> To comply with legal requirements
          and defend against legal claims. <br />
          <strong>Business Transfers:</strong> Your information may be
          transferred in case of a business sale, merger, or acquisition.
          <br /><br />

          <div class="subtitle">Analytics and Third Party Tools</div>
          When you visit our website, your surfing behavior can be statistically
          evaluated. This happens before especially with the help of cookies and
          so-called analysis programs. Your surfing behavior is analyzed usually
          anonymous; surfing behavior cannot be traced back to you. You can do
          this analysis contradict them or prevent them by not using certain
          tools. Detailed information on this can be found in the following data
          protection declaration. You can object to this analysis. We will
          inform you about the objection options in this data protection
          declaration. <br /><br />

          <div class="subtitle">Google Analytics</div>
          This website uses functions of the web analysis service Google
          Analytics. The provider is Google Inc., 1600 Amphitheater Parkway,
          Mountain View, CA 94043, USA. : <br />
          Google Analytics uses so-called “cookies”. These are text files that
          are stored on your computer are stored and which enable an analysis of
          your use of the website. Those generated by the cookie Information
          about your use of this website is usually transmitted to a Google
          server in the USA stored there. <br /><br />
          Google Analytics cookies are stored on the basis of Art. 6 Para. 1
          lit. f GDPR. The The website operator has a legitimate interest in
          analyzing user behavior in order to improve both its website and its
          website also to optimize its advertising. <br /><br />
          <div class="subtitle">IP anonymization</div>
          We have activated the IP anonymization function on this website. This
          will become your IP address from Google within member states of the
          European Union or in other contracting states of the Agreement on the
          European Economic Area shortened before transmission to the USA. Only
          in In exceptional cases, the full IP address is transferred to a
          Google server in the USA and shortened there. In the On behalf of the
          operator of this website, Google will use this information to monitor
          your use of the website Evaluate the website in order to compile
          reports on website activity and to provide further information
          services related to website use and internet use to the website
          operator to provide. The IP address transmitted by your browser as
          part of Google Analytics is not merged with other data from Google.
          <br /><br />
          <div class="subtitle">Browser plugin</div>
          You can prevent the use of cookies by setting your browser software
          accordingly; However, we would like to point out that in this case you
          may not be able to fully use all of the functions of this website will
          be able to use. You can also record the data generated by the cookie
          and your use of it Data related to the website (including your IP
          address) to Google and the processing of this data by Google prevent
          this by downloading and installing the browser plugin available at the
          following link: https://tools.google.com/dlpage/gaoptout?hl=de.
          <br /><br />
          <div class="subtitle">Objection to data collection</div>
          You can prevent Google Analytics from collecting your data by clicking
          on the following link click. An opt-out cookie will be set which will
          prevent your data from being collected on future visits Website
          prevented: deactivate Google Analytics. You can find more information
          about how Google Analytics handles user data in the Google’s privacy
          policy: https://support.google.com/analytics/answer/6004245?hl=de.
          <br /><br />

          <div class="subtitle">
            2. General information and mandatory information
          </div>
          <strong>Data protection</strong> <br />
          The Vibrer company takes the protection of your personal data very
          seriously. We'll treat yours personal data confidential and in
          accordance with the statutory data protection regulations as well this
          data protection declaration. <br /><br />
          When you use this website, various personal data is collected.
          Personal data is data, with which you can be personally identified.
          This privacy policy explains what data we collect and what we use them
          for. It also explains how and for what purpose this happens.
          <br /><br />

          We would like to point out that data transmission over the Internet
          (e.g. when communicating via Email) may have security gaps for which
          we are not responsible. A complete one Unfortunately, protecting data
          from third-party access is not yet technically possible. <br /><br />

          <div class="subtitle">Note on the responsible body</div>
          The responsible body is the natural or legal person who, alone or
          jointly with others, determines the purposes and means of processing
          personal data (e.g. names, email addresses, etc.). (see above). !
          <br /><br />

          <div class="subtitle">
            Revocation of your consent to data processing
          </div>
          Many data processing operations are only possible with your express
          consent. One You can revoke any consent you have already given at any
          time. An informal email is sufficient for this purpose to us. The
          lawfulness of the data processing carried out until the revocation
          remains Revocation is unaffected. <br /><br />
          <div class="subtitle">
            Right to lodge a complaint with the relevant supervisory authority
          </div>
          In the event of data protection violations, those affected have the
          right to complain to the responsible supervisory authority. Competent
          supervisory authority in data protection law If you have any
          questions, please contact the state data protection officer of the
          federal state (please add foreign offices!) where our company is
          based. A list of data protection officers and their contact details
          can be found at the following link:
          https://www.bfdi.bund.de/DE/Infothek/Anschrift_Links/anschrift_links-node.html.
          <br /><br />

          <div class="subtitle">Right to data portability</div>
          You have the right to receive data that we provide based on your
          consent or in the performance of a contract processed automatically
          and handed over to yourself or to a third party in a common, machine-
          readable format allow. If you request the direct transfer of the data
          to another person responsible, This only occurs if it is technically
          feasible.
          <div class="subtitle">Information, blocking, deletion !</div>
          You have the right to free of charge at any time within the framework
          of the applicable legal provisions Information about your stored
          personal data, their origin and recipients and the Purpose of data
          processing and, if applicable, a right to correct, block or delete
          this data at any time. You can contact us at any time if you have any
          further questions on the subject of personal data Contact us at the
          address given in the legal notice. <br /><br />
          <div class="subtitle">Objection to advertising emails</div>
          The use of contact details published as part of the imprint obligation
          for sending purposes Advertising and information materials that have
          not been expressly requested are hereby rejected. The operators of
          this website expressly reserve the right to take legal action in the
          event of unsolicited sending of advertising information, such as spam
          emails. <br /><br />

          <div class="subtitle">3. Data collection on our website</div>
          <strong>Cookies</strong>
          Some of the websites use so-called cookies. Cookies do not harm your
          computer and do not contain viruses. The use of cookies serves to make
          our website more user-friendly, effective and to make it safer.
          Cookies are small text files that are stored on your computer and that
          your browser saves. Most of the cookies we use are so-called session
          cookies. You will after the end of your automatically deleted after
          the visit. Other cookies remain stored on your device until you delete
          them. This Cookies enable us to recognize your browser the next time
          you visit.
          <br /><br />

          You can set your browser so that you are informed about the setting of
          cookies and only allow them To revoke cookies in individual cases, to
          exclude the acceptance of cookies for certain cases or in general and
          enable automatic deletion of cookies when closing the browser. If
          cookies are present disabled, the functionality of this website may be
          restricted. <br /><br />
          The storage of cookies that are used to carry out the electronic
          communication process or to Provision of certain functions you require
          (e.g. shopping cart function) is required Basis of Article 6 Paragraph
          1 Letter f GDPR. 6 Paragraph 1 Letter f GDPR. The website operator has
          a legitimate interest in the storage of cookies for the technically
          error-free and optimized provision of its services. As far as others
          Cookies (e.g. cookies to analyze your surfing behavior) are stored,
          they are described in this data protection declaration treated
          separately.

          <div class="subtitle">Server log files</div>
          The provider of the pages automatically collects and stores
          information in so-called servers. Log files that your browser
          automatically transmits to us. These are: <br />
          <ul>
            <li>Browser type and browser version</li>
            <li>Operating system used</li>
            <li>Referrer URL</li>
            <li>Host name of the accessing computer</li>
            <li>Time of server request</li>
            <li>IP address</li>
          </ul>
          <br />
          This data will not be merged with other data sources. <br /><br />
          The basis for data processing is Article 6 Paragraph 1 Letter f GDPR,
          which regulates the processing of data permitted to fulfill a contract
          or pre-contractual measures. <br /><br />
          <div class="subtitle">Social Media Features</div>
          Our website may include social media features, such as the Facebook
          Like button, Our social media links and other widgets, that run on our
          website. <br />
          These features may collect your IP address and which page you are
          visiting on our site, and may set a cookie to enable the feature to
          function properly. <br /><br />

          <div class="subtitle">Data Storage and Security</div>
          <strong>Data Retention:</strong> We store your data as long as
          necessary for the purposes outlined in this policy. <br />
          <strong>Security Measures:</strong> We implement SSL, firewalls, and
          data encryption to safeguard your data. Sharing Your Information
          <br /><br />
          <strong>Service Providers:</strong> With third-party vendors for tasks
          such as email delivery and hosting services. <br />
          <strong>Legal Compliance:</strong> To comply with laws and law
          enforcement requests, and to enforce our own policies. <br /><br />
          <div class="subtitle">Your Rights and Choices</div>
          <strong>GDPR Rights:</strong> If you are a resident of the European
          Economic Area (EEA), you have certain data protection rights. We aim
          to take reasonable steps to allow you to correct, amend, delete, or
          limit the use of your personal information. <br />
          <strong>Opt-Out:</strong> You can unsubscribe from our newsletters and
          promotional materials. <br /><br />
          <div class="subtitle">Third-Party Websites and Services</div>
          Our services may link to third-party websites not controlled by us.
          This policy does not apply to these third-party services, and we are
          not responsible for their content or practices.
          <br /><br />
          <div class="subtitle">Children’s Privacy</div>
          We do not intentionally collect information from individuals under the
          age of 13. If you are a guardian and believe we might have such
          information, please contact us for its removal.
          <br />
          <br />
          <div class="subtitle">Changes to This Policy</div>
          We reserve the right to update or modify this policy. If significant
          changes are made, we will notify users through an update on the
          Services or via email.
          <br /><br />
          <div class="subtitle">Contact Us</div>
          For more information, or if you have concerns or complaints, please
          contact us at "info [at] vibrer.app".
        </div>
      </section>
    </main>

    <%- include('partials/footer'); %>

    <!-- javascript -->
    <script src="/public/js/theme-v01node.js"></script>
  </body>
</html>
