<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./public/images/favicon.png"
      type="image/x-icon"
    />
    <title>Vibrer's Privacy policy: Charting a Musical Journey</title>
    <meta
      name="description"
      content="Explore Vibrer's roadmap, outlining our journey from concept to launch. Join us on this exciting adventure as we unveil innovative features, enrich the music experience, and bring artists and fans closer than ever."
    />
    <meta
      name="keywords"
      content="Vibrer roadmap, music platform roadmap, music innovation, feature unveiling, artist-fan connection"
    />

    <link rel="stylesheet" href="./public/style/theme-v01.css?v=1.2" />
  </head>
  <body>
    <div id="loader">
      <img src="./public/images/loader.gif" alt="Loading..." />
    </div>
    <header class="bg-dark">
      <nav class="layout">
        <div class="logo" onclick="toHome()">
          <img src="./public/images/vibere-logo.svg" alt="Logo" />
        </div>
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="menu-overlay"></div>
        <div class="menu">
          <div class="menu-close">+</div>

          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/road-map">Road Map</a></li>
            <li><a href="/projects">Projects</a></li>
            <li>
              <button class="btn btn-primary" onclick="scrollToGNForm()">
                Get Notified
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <section class="general">
        <div class="container layout">
          <div class="title">Privacy Policy</div>

          Privacy Policy of Vibrer Last Updated: August 28, 2023 Introduction
          Vibrer ("we," "us," or "our") is committed to safeguarding your
          privacy. This Privacy Policy outlines the types of information we
          collect, how we use it, and the measures we take to protect it. This
          policy applies to our website, mobile applications, and associated
          services (collectively, the "Services"). For inquiries or concerns,
          please contact us at "info [at] vibrer.app". <br /><br />
          <div class="subtitle">Information We Collect</div>
          <strong> Personal Identification Information (PII)</strong>
          <br />
          <strong>Name:</strong> Your first and last name as provided during
          application or subscription.
          <br />
          <strong>Email Address:</strong> Used for correspondence and
          notifications. <br />
          <strong>Phone Number:</strong> Collected when you provide it for
          communication. <br />
          <strong>Country & City:</strong> Collected as part of your application
          or when you sign up for location-specific notifications. <br /><br />
          <div class="subtitle">Non-Personal Information</div>
          <strong> IP Address:</strong> Collected automatically to determine
          your location for data analytics. <br />
          <strong> User Agent:</strong>
          Information about your browser, device, and operating <br />
          <strong> Usage Metrics:</strong> Including but not limited to page
          views, click-through rates, and time spent on our Services.
          <br /><br />

          <div class="subtitle">Third-Party Data</div>
          <strong>Social Media:</strong> We collect information you share with
          us voluntarily through social media platforms. <br />
          <strong>Analytics Services:</strong> We use third-party services like
          Google Analytics to collect aggregate data. <br /><br />

          <div class="subtitle">Social Media Features</div>
          Our website may include social media features, such as the Facebook
          Like button, Our social media links and other widgets, that run on our
          website. <br />
          These features may collect your IP address and which page you are
          visiting on our site, and may set a cookie to enable the feature to
          function properly. <br /><br />
          <div class="subtitle">How We Use Your Information</div>
          <strong>Communication:</strong> To provide you with newsletters,
          launch notifications, and updates. <br />
          <strong>Applicant Screening:</strong> To assess your suitability for
          projects you’ve applied for. <br />
          <strong>Personalization:</strong> To tailor content based on your
          preferences and engagement. <br />
          <strong>Marketing and Promotions:</strong> To send you promotional
          materials, subject to your opt-in. <br />
          <strong>Legal Obligations:</strong> To comply with legal requirements
          and defend against legal claims. <br />
          <strong>Business Transfers:</strong> Your information may be
          transferred in case of a business sale, merger, or acquisition.
          <br /><br />
          <div class="subtitle">Data Storage and Security</div>
          <strong>Data Retention:</strong> We store your data as long as
          necessary for the purposes outlined in this policy. <br />
          <strong>Security Measures:</strong> We implement SSL, firewalls, and
          data encryption to safeguard your data. Sharing Your Information
          <br /><br />
          <strong>Service Providers:</strong> With third-party vendors for tasks
          such as email delivery and hosting services. <br />
          <strong>Legal Compliance:</strong> To comply with laws and law
          enforcement requests, and to enforce our own policies. <br /><br />
          <div class="subtitle">Your Rights and Choices</div>
          <strong>GDPR Rights:</strong> If you are a resident of the European
          Economic Area (EEA), you have certain data protection rights. We aim
          to take reasonable steps to allow you to correct, amend, delete, or
          limit the use of your personal information. <br />
          <strong>Opt-Out:</strong> You can unsubscribe from our newsletters and
          promotional materials. <br /><br />
          <div class="subtitle">Third-Party Websites and Services</div>
          Our services may link to third-party websites not controlled by us.
          This policy does not apply to these third-party services, and we are
          not responsible for their content or practices.
          <br /><br />
          <div class="subtitle">Children’s Privacy</div>
          We do not intentionally collect information from individuals under the
          age of 13. If you are a guardian and believe we might have such
          information, please contact us for its removal.
          <br />
          <br />
          <div class="subtitle">Changes to This Policy</div>
          We reserve the right to update or modify this policy. If significant
          changes are made, we will notify users through an update on the
          Services or via email.
          <br /><br />
          <div class="subtitle">Contact Us</div>
          For more information, or if you have concerns or complaints, please
          contact us at "info [at] vibrer.app".
        </div>
      </section>
    </main>

    <%- include('partials/footer'); %>

    <!-- javascript -->
    <script src="/public/js/theme-v01node.js"></script>
  </body>
</html>
