<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="Join Vibrer's prelaunch and be the first to experience a revolutionary music platform. Connect, discover, and engage with artists and music enthusiasts worldwide."
    />
    <meta
      name="keywords"
      content="music platform, music community, music discovery, artist connection, music enthusiasts"
    />
    <%- include('partials/head'); %>
  </head>
  <body>
    <main>
      <section class="reg-success-section">
        <div class="wrapper">
          <div class="logo">
            <img src="/public/images/vibrer_light_logo.svg" alt="logo" />
          </div>
          <div class="title">Registration Successful!</div>

          <div class="desc">
            You have successfully registered, a verification email will be sent
            to you shortly. If you do not receive it, please check your spam
            folder.
          </div>

          <div class="highlight-msg">
            In <span class="rTimer">15 seconds</span>, you will be automatically
            redirected to complete your profile.
          </div>

          <div class="divOr">Alternatively, you can click to:</div>
          <button
            onclick="redirectToNewProfile()"
            class="btn btn-primary shadow"
          >
            Create Your Profile Now
          </button>
        </div>
      </section>
    </main>

    <!-- js -->
    <script>
      window.onload = function () {
        var timeLeft = 15; // Time in seconds
        var timerElement = document.querySelector(".rTimer");
        var countdownTimer = setInterval(function () {
          timeLeft--;
          timerElement.textContent = timeLeft + " seconds";
          if (timeLeft <= 0) {
            clearInterval(countdownTimer);
            window.location.href = "/new-profile";
          }
        }, 1000);
      };

      function redirectToNewProfile() {
        window.location.href = "/new-profile";
      }
    </script>
  </body>
</html>
