<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vibrer's Roadmap: Charting a Musical Journey</title>
    <meta
      name="description"
      content="Explore Vibrer's roadmap, outlining our journey from concept to launch. Join us on this exciting adventure as we unveil innovative features, enrich the music experience, and bring artists and fans closer than ever."
    />
    <meta
      name="keywords"
      content="Vibrer roadmap, music platform roadmap, music innovation, feature unveiling, artist-fan connection"
    />

    <%- include('partials/head'); %>
  </head>
  <body>
    <!-- Loader -->
    <%- include('partials/loader'); %>
    <!-- Header -->
    <%- include('partials/header'); %>

    <main>
      <section class="roadmap">
        <div class="container layout">
          <div class="title">Embarking on Our Journey: The Vibrer Road Map</div>
          <div class="subtitle">
            Discover the exciting phases that lay ahead as we pave the way
            towards an incredible musical experience. Join us on this voyage
            through innovation, growth, and connection.
          </div>

          <div class="rm-item">
            <div class="title">The Idea</div>
            <div class="desc">
              Our journey began with a spark of inspiration – the inception of
              Vibrer. This is where the seeds of our vision were sown. We
              identified the challenges to conquer and focused on understanding
              the needs of our audience. Creative ideas flowed as we envisioned
              the distinct features and functionalities that would define
              Vibrer's exceptional identity.
            </div>
          </div>
          <div class="separator done">
            <div class="done">
              <img src="./public/images/done.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>
          <div class="rm-item">
            <div class="status done">Done</div>
            <div class="title">Idea Generation and Conceptualization:</div>
            <div class="desc">
              <ul>
                <li>
                  Brainstorming the concept of Vibrer as a music-centric
                  platform.
                </li>
                <li>
                  Identifying the need for a platform that connects music
                  enthusiasts and artists.
                </li>
                <li>Defining the core vision and mission of Vibrer.</li>
              </ul>
            </div>
          </div>
          <div class="separator done">
            <div class="done">
              <img src="./public/images/done.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>
          <div class="rm-item">
            <div class="status done">Done</div>
            <div class="title">Market Research and Validation:</div>
            <div class="desc">
              <ul>
                <li>
                  Conducting market research to understand the demand for a
                  music-focused platform.
                </li>
                <li>
                  Analyzing competitors and identifying gaps in the market.
                </li>
                <li>
                  Validating the concept through surveys, focus groups, and
                  feedback.
                </li>
              </ul>
            </div>
          </div>

          <div class="separator done">
            <div class="done">
              <img src="./public/images/done.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>

          <div class="rm-item">
            <div class="status done">Done</div>
            <div class="title">Platform Planning and Strategy:</div>
            <div class="desc">
              <ul>
                <li>Outlining the features and functionalities of Vibrer.</li>
                <li>Defining user personas for both artists and fans.</li>
                <li>
                  Creating a strategic roadmap for development and launch.
                </li>
              </ul>
            </div>
          </div>

          <div class="separator done">
            <div class="done">
              <img src="./public/images/done.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>

          <div class="rm-item">
            <div class="status done">Done</div>
            <div class="title">Pre-launch Marketing and Awareness:</div>
            <div class="desc">
              <ul>
                <li>
                  Creating a prelaunch landing page to capture user interest and
                  collect emails.
                </li>
                <li>Running teaser campaigns on social media platforms.</li>
                <li>
                  Generating anticipation through sneak peeks and engaging
                  content.
                </li>
              </ul>
            </div>
          </div>

          <div class="separator done">
            <div class="done">
              <img src="./public/images/done.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>

          <div class="rm-item">
            <div class="status done">Done</div>
            <div class="title">Launch Preparation:</div>
            <div class="desc">
              <ul>
                <li>
                  Creating comprehensive marketing and promotional strategies.
                </li>
                <li>
                  Building a user base through prelaunch sign-ups and beta
                  testing.
                </li>
                <li>
                  Developing launch materials, including videos, blog posts, and
                  press releases.
                </li>
              </ul>
            </div>
          </div>

          <div class="separator done">
            <div class="done">
              <img src="./public/images/done.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>

          <div class="rm-item">
            <div class="status done">Done</div>
            <div class="title">Phase 1: Initial Launch</div>
            <div class="desc">
              Launch of Vibrer's web applications with basic modules:
              <ul class="demi">
                <li>
                  <strong>User Profiles:</strong> Where artists and fans can
                  create and customize their profiles.
                </li>
                <li>
                  <strong> Contests:</strong> Launch of the first contest where
                  artist can participate.
                </li>
              </ul>
            </div>
          </div>

          <div class="separator done">
            <div class="done">
              <img src="./public/images/done.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>

          <div class="rm-item">
            <div class="status uc">Upcoming: <span>Febraury 2024</span></div>
            <div class="title">Phase 2: Expansion</div>
            <div class="desc">
              <ul class="demi">
                <li>
                  <strong>Voting:</strong> Allowing user to vote for their
                  favorite artist in Vibrer Singing Contest.
                </li>
                <!-- <li>
                  <strong>Music Upload:</strong> Allowing artists to upload and
                  showcase their music.
                </li> -->
                <li>
                  <strong>Discover:</strong> Helping users explore and discover
                  new artists and music.
                </li>
                <!-- <li>
                  <strong> Live Concerts:</strong> Experience exclusive live
                  performances by renowned artists.
                </li> -->
                <li>
                  <strong> Update Content Sharing:</strong> Features updates for
                  users to share music, videos, and other content.
                </li>
                <li>
                  <strong> Messaging:</strong> Enhance user experience with
                  improved in-app messaging.
                </li>
                <!-- <li>
                  <strong> Update Discover:</strong> Enhance user experience
                  with improved music discovery tools.
                </li> -->
              </ul>
            </div>
          </div>

          <div class="separator done">
            <div class="done">
              <img src="./public/images/notdone.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>

          <div class="rm-item">
            <div class="status uc">Upcoming: <span>March 2024</span></div>
            <div class="title">Phase 3: Enrichment</div>
            <div class="desc">
              <ul class="demi">
                <li>
                  <strong>Update Messaging:</strong> Introduce a messaging
                  feature for users to communicate directly.
                </li>
                <li>
                  <strong> Live Concerts:</strong> Experience exclusive live
                  performances by renowned artists.
                </li>
              </ul>
            </div>
          </div>

          <div class="separator done">
            <div class="done">
              <img src="./public/images/notdone.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>

          <div class="rm-item">
            <div class="status uc">Upcoming: <span>May 2024</span></div>
            <div class="title">Phase 4: Advanced Features</div>
            <div class="desc">
              <ul class="demi">
                <li>
                  <strong>Advanced Search:</strong> Offer advanced search
                  options for users to find specific content.
                </li>
                <li>
                  <strong>Monetization:</strong> Allow artists to monetize their
                  content and gain revenue.
                </li>
                <li>
                  <strong>Elevated Live Streaming Experience:</strong> Updated
                  Artist Live Streaming in Advanced Version
                </li>
                <li>
                  <strong> Update Fan Features:</strong> Introduce features
                  tailored for fans to engage with artists.
                </li>
              </ul>
            </div>
          </div>

          <div class="separator done">
            <div class="done">
              <img src="./public/images/notdone.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>

          <div class="rm-item">
            <div class="status uc">Upcoming: <span>July 2024</span></div>
            <div class="title">Phase 5: Advancement</div>
            <div class="desc">
              <ul class="demi">
                <li>
                  <strong>Inbuilt Wallet:</strong> Introduce a secure inbuilt
                  wallet for seamless transactions within the platform.
                </li>
                <li>
                  <strong>Virtual Gifts:</strong> Allow users to send virtual
                  gifts to artists as a token of appreciation.
                </li>
                <li>
                  <strong>Analytics:</strong> Provide insights and analytics for
                  artists to track their performance.
                </li>
              </ul>
            </div>
          </div>

          <div class="separator done">
            <div class="done">
              <img src="./public/images/notdone.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>

          <div class="rm-item">
            <div class="status uc">Upcoming: <span>Sep 2024</span></div>
            <div class="title">Phase 6: More and More</div>
            <div class="desc">
              <ul class="demi">
                <li>
                  <strong>Mobile App:</strong> Launch a dedicated mobile app for
                  Vibrer, enhancing accessibility for Android and Apple users.
                </li>
                <li>
                  <strong>Integrated Shop:</strong> Explore Vibrer's Exclusive
                  Merchandise Collection.
                </li>
                <li>
                  <strong>Enhanced Analytics:</strong> Provide detailed insights
                  into user engagement and content performance.
                </li>
                <li>
                  <strong>Premium Subscriptions:</strong> Launch premium
                  subscription plans for enhanced features and exclusives.
                </li>
              </ul>
            </div>
          </div>

          <div class="separator done">
            <div class="done">
              <img src="./public/images/notdone.svg" alt="Done" />
            </div>
            <div class="line"></div>
          </div>

          <div class="rm-item">
            <div class="status uc">Upcoming: <span>November 2024</span></div>
            <div class="title">Phase 7: Global Expansion</div>
            <div class="desc">
              <ul class="demi">
                <li>
                  <strong>Localized Content:</strong> Tailor content and
                  interactions for international audiences.
                </li>
                <li>
                  <strong>Multi-Language Support:</strong> Introduce support for
                  multiple languages to broaden accessibility.
                </li>
                <li>
                  <strong>Collaborative Projects:</strong> Enable artists and
                  fans to collaborate on creative projects.
                </li>
                <li>
                  <strong> Regional Events:</strong> Organize region-specific
                  events and promotions to foster local engagement.
                </li>
              </ul>
            </div>
          </div>
          <!--  -->
        </div>

        <section id="subForm">
          <div class="container layout">
            <div class="title">Stay on the Pulse of Progress</div>
            <div class="subtitle">
              Subscribe to our newsletter and be the first to hear about our
              upcoming milestones, cutting-edge features, Don't miss a beat –
              subscribe now to stay informed and be part of the journey!
            </div>

            <form id="mailingList">
              <div class="grid">
                <input type="hidden" name="mailType" value="News letter" />
                <div class="col">
                  <input
                    class="form-input"
                    type="text"
                    placeholder="First Name"
                    name="firstName"
                  />
                </div>
                <div class="col">
                  <input
                    class="form-input"
                    type="text"
                    placeholder="Last Name"
                    name="lastName"
                  />
                </div>
                <div class="col">
                  <input
                    class="form-input"
                    type="email"
                    name="email"
                    placeholder="Email"
                  />
                </div>
                <div class="col">
                  <button class="btn btn-primary ml-btn">Subscribe</button>
                </div>
              </div>
              <div class="desc">
                By submitting this form, you agree to receive updates and
                notifications from Vibrer. We respect your privacy and won't
                share your information with third parties.
                <a href="./privacy">Read our privacy policy</a>
              </div>
            </form>
          </div>
        </section>
      </section>
    </main>

    <%- include('partials/footer'); %>

    <div class="success-pop">
      <div class="header">
        <div class="success-pop-title">Thank you!</div>
        <div class="success-pop-close">+</div>
      </div>
      <div class="success-pop-desc">
        You have been added to our mailing list.
      </div>
    </div>
    <!-- javascript -->
    <script src="/public/js/theme-v01node.js"></script>
    <script src="/public/js/forms.js"></script>
  </body>
</html>
