<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#1e2750" />

    <meta
      name="description"
      content="Join Vibrer's prelaunch and be the first to experience a revolutionary music platform. Connect, discover, and engage with artists and music enthusiasts worldwide."
    />
    <meta
      name="keywords"
      content="music platform, music community, music discovery, artist connection, music enthusiasts"
    />
    <%- include('../partials/head'); %>
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/style/app.css" />
    <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet" />
  </head>
  <body class="body-dark _pr">
    <!-- loader -->
    <%- include('../partials/loader'); %>

    <!-- header -->
    <%- include('partials/header'); %>

    <main class="app_layout app_wrapper">
      <%- include('components/app-sidebar'); %>

      <!-- main body of the app -->
      <div class="app_main">
        <div class="title mb-3">Report this post</div>
        <div class="video-head">
          <video
            controls
            class="video-js"
            preload="auto"
            width="640"
            height="264"
            data-setup="{}"
          >
            <source src="/uploads/inescapable.mp4" type="video/mp4" />
            <source src="/uploads/inescapable.mp4" type="video/webm" />
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider
              upgrading to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
          <!-- <img src="/public/images/icons/playIconWhite.svg" alt="Icon" /> -->
        </div>

        <div class="report-form mt-4">
          <form class="form fborder" action="">
            <div class="flex-box g-1">
              <label class="checkbox-container white">
                Sexual content
                <input
                  type="radio"
                  id="rr1"
                  value="Sexual content"
                  name="report_reason"
                />
                <span class="radio-checkmark"></span>
              </label>
              <label class="checkbox-container white">
                Spam or misleading
                <input
                  type="radio"
                  id="rr2"
                  value="Spam or misleading"
                  name="report_reason"
                />
                <span class="radio-checkmark"></span>
              </label>
              <label class="checkbox-container white">
                Violent or repulsive content
                <input
                  type="radio"
                  id="rr3"
                  value="Violent or repulsive content"
                  name="report_reason"
                />
                <span class="radio-checkmark"></span>
              </label>

              <label class="checkbox-container white">
                Harassment or dangerous acts
                <input
                  type="radio"
                  id="rr4"
                  value="Harassment or dangerous acts"
                  name="report_reason"
                />
                <span class="radio-checkmark"></span>
              </label>

              <label class="checkbox-container white">
                Copyright / Ownership
                <input
                  type="radio"
                  id="rr5"
                  value="Copyright / Ownership"
                  name="report_reason"
                />
                <span class="radio-checkmark"></span>
              </label>

              <label class="checkbox-container white">
                Child abuse
                <input
                  type="radio"
                  id="rr6"
                  value="Child abuse"
                  name="report_reason"
                />
                <span class="radio-checkmark"></span>
              </label>

              <label class="checkbox-container white">
                Hateful or abusive content
                <input
                  type="radio"
                  id="rr7"
                  value="Hateful or abusive content"
                  name="report_reason"
                />
                <span class="radio-checkmark"></span>
              </label>

              <label class="checkbox-container white">
                Promotes terrorism
                <input
                  type="radio"
                  id="rr8"
                  value="Promotes terrorism"
                  name="report_reason"
                />
                <span class="radio-checkmark"></span>
              </label>

              <label class="checkbox-container white">
                Other issue
                <input
                  type="radio"
                  class="otherIssue"
                  id="rr9"
                  value="Other issue"
                  name="report_reason"
                />
                <span class="radio-checkmark"></span>
              </label>
            </div>
            <div class="mt-4 mb-4">
              <div
                id="other_issue"
                style="height: auto; min-height: 100px"
              ></div>
            </div>

            <div class="grid2md mb-3">
              <div>
                <input type="text" placeholder="Company optional" />
              </div>
              <div>
                <input type="text" placeholder="Contact Email for user" />
              </div>
            </div>
            <button class="btn btn-primary mt-4 mb-5">Submit</button>
          </form>
        </div>
        <!-- app main end -->
      </div>

      <!-- right side section of the app -->
      <div class="app_right cs-scroll">
        <div class="artists">
          <div
            data-id="user._id"
            class="artist_wrapper mb-3"
            style="background-image: url('/public/images/singer.png')"
          >
            <div class="overlay"></div>
            <div class="_user">
              <img src="/uploads/profileDemo.png" alt="User" />
              <div class="info">
                <div class="name">
                  <span>Jessica Hub</span>
                  <img
                    class="app_v_badge"
                    src="/public/images/icons/verified-badge.svg"
                    alt="badge"
                  />
                </div>
                <div class="uname">@jhub</div>
              </div>
            </div>
          </div>

          <div
            data-id="user._id"
            class="artist_wrapper mb-3"
            style="background-image: url('/uploads/coverDemo.jpeg')"
          >
            <div class="overlay"></div>
            <div class="_user">
              <img src="/uploads/profileDemo.png" alt="User" />
              <div class="info">
                <div class="name">
                  <span>Jessica Hub</span>
                  <img
                    class="app_v_badge"
                    src="/public/images/icons/verified-badge.svg"
                    alt="badge"
                  />
                </div>
                <div class="uname">@jhub</div>
              </div>
            </div>
          </div>

          <div
            data-id="user._id"
            class="artist_wrapper mb-3"
            style="background-image: url('/uploads/coverDemo.jpeg')"
          >
            <div class="overlay"></div>
            <div class="_user">
              <img src="/uploads/profileDemo.png" alt="User" />
              <div class="info">
                <div class="name">
                  <span>Jessica Hub</span>
                  <img
                    class="app_v_badge"
                    src="/public/images/icons/verified-badge.svg"
                    alt="badge"
                  />
                </div>
                <div class="uname">@jhub</div>
              </div>
            </div>
          </div>

          <div class="app_right_link">
            <div class="link">View all</div>
          </div>
        </div>
      </div>
    </main>

    <!-- javascript -->
    <script src="/public/js/redirections.js"></script>
    <script src="/public/js/general.js"></script>
    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var quill = new Quill("#other_issue", {
          modules: {
            toolbar: false,
          },
          placeholder: "Describe the issue in detail *",
          theme: "snow",
        });
      });
    </script>
  </body>
</html>
